<%= form_with(model: story, local: true, url: choose_new_or_edit) do |form| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= @story.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

  <div class="field">
    <li><%= form.label :content %></li>
    <li><%= form.text_area :content, size: "40x10" %></li>
  </div>
  <div class="field">
  <%= form.label :image %>
  <%= form.file_field :image %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
