<div class="container">
  <h3>以下の内容で、送信する。</h3>
  <%= form_with(model: @story, url: stories_path, local: true) do |form| %>
    <%= form.hidden_field :content %>
    <p><%= @story.content %></p>
    <%= image_tag(@story.image.url) if @story.image && @story.image.url %>
    <%= form.hidden_field :image_cache %>
    <ul class="list-inline">
      <li><%= form.submit  "送信" %></li>
      <li><%= form.submit "戻る", name: 'back' %></li>
    </ul>
  <% end %>
</div>
