<p id="notice"><%= notice %></p>

  <tbody>
    <% @stories.each do |story| %>
    <article>
      <div class="post">
        <ul>
          <div class="user">
            <li><%= story.user.name %></li>
          </div>
          <div class="contents">
            <li><%= story.content %></li>
            <% if story.image.present? %>
              <li><%= image_tag story.image.url() %></li>
            <% end %>
          </div>
          <li><%= link_to 'Show', story %></li>
        </ul>
      </div>
    </article>
    <% end %>
  </tbody>
