<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <%= @story.user.name %>
  </p>
  <p>
    <%= @story.content %>
  </p>
  <% if @story.image.present? %>
    <p>
      <%= image_tag @story.image.url %>
    </p>
    <% end %>
    <% if @story.user_id == current_user.id %>
      <%= link_to 'Edit', edit_story_path(@story), class: 'btn' %> |
      <%= link_to 'Destroy', story_path, method: :delete, class: 'btn', data: { confirm: '削除してよろしいですか？' } %> |
    <% else %>
      <% if @favorite.present? %>
        <%= link_to 'お気に入りを解除', favorite_path(id: @favorite.id), method: :delete ,class: 'btn' %> |
        <% else %>
        <%= link_to 'お気に入りに登録', favorites_path(story_id: @story.id), method: :post, class: 'btn' %> |
        <% end %>
  <% end %>
  <%= link_to 'Back', stories_path, class: 'btn' %>
</div>
