<!DOCTYPE html>
<html>
<head>
  <title>FbClone</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="header">
  <nav class="menu">

    <%= link_to "FbClone",stories_path, {class: "menu-top"} %>

    <% if logged_in? %>
    <ul class="menu_light clearfix">
      <li>
        <%= link_to 'New Story', new_story_path %>
      </li>
      <li>
        <%= link_to "Profile",user_path(current_user.id)%>
      </li>
      <li>
        <%= link_to "Logout",session_path(current_user.id),method: :delete %>
      </li>
    </ul>
    <% else %>
    <ul class="menu_light clearfix">
      <li>
        <%= link_to "Sign up", new_user_path %>
      </li>
      <li>
        <%= link_to "Login", new_session_path %>
      </li>
    </ul>
    <% end %>
  </nav>
  </header>
    <%= yield %>
</body>
</html>
